services:
  rj:
    image: rjchicago/rj:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    volumes:
      - ./web:/app
      - /app/node_modules
    restart: unless-stopped
